snippet std "use namespace std" b
using namespace std
endsnippet

snippet cf "use codeforces head" b
#include <bits/stdc++.h>
using namespace std;
#define ALL(x) (x.begin(), x.end())
#define mset(a,i) memset(a,i,sizeof(a))
#define rep(i,n) for(int i = 0;i < n;i ++)

int main() {
	ios :: sync_with_stdio(false);
	cout << fixed << setprecision(16);
	${1}
	return 0;
}
endsnippet
