###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

snippet hhh "use header file" b
#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail


endsnippet
